*{
    margin:0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
h1{
    align-items: center;
    padding-left: 200px;
    color: rgb(217, 223, 221);
}
h2{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}
body{
    background-color: rgb(57, 56, 104);
}
.app{
    background-color: azure;
    width:90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 20px;
    padding:30px;
}
.quiz{
    padding: 20px 0;

}
.quiz h3{
    font-size: 18px;
    font-weight: 600;
}

.btn{
    background-color: bisque;
    font-weight: 500;
    width:100%;
    border:1px;
    padding:10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:all 0.3s;
}
/*to add transiton when hover mouse */
.btn:hover:not([disabled]){
    background-color:rgb(249, 170, 74);
    color: black;

}
.btn:disabled{
    cursor:no-drop;
}
/*now i wanna hide the button*/
#next-btn{
    background-color: rgb(199, 247, 88);
    font-weight: 500;
    width:150px;
    border:0;
    padding:10px;
    margin:20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: aquamarine;
}
.incorrect{
    background-color: brown;
}